.card-body {
    position: relative;
}

.Drawer {
    background: #eee;
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.6);

    /* Give our drawer a base width */
    width: 100%;

    /* Position the drawer on the right edge of the screen */
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;

    transform: translateX(100%);
    transition: transform ease-out 0.3s;
}

.Drawer.is-open {
    transform: translateX(0);
}